<div class="hero hero--alternate">
  <div class="hero-box">
    <div class="hero-inner">
      <h1 class="hero-title">Oops!!!<span class="hero-title-small">We can't find what you're looking for :(</span></h1>
      <%= render 'shared/search_form' %>
    </div>
  </div>
</box>