// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 {
  margin: 0;
  color: #ecf0f1;
}

p {
  margin: 0;
}

img.profile {
    display: block;
    width : 100%;
}

.preview-profile {
    background-color: #ecf0f1;
}